<script type="application/javascript">
  var updatePost = function (id) {
    console.log(id);
    var data = {
      PostTitle: document.getElementById("postTitle").value,
      PostBody: document.getElementById("postBody").value
    }
    fetch("/posts/" + id, {
      method: "PUT", body: JSON.stringify(data), headers: {
        'Content-Type': 'application/json'
      }
    }).then(result => window.location = "/posts");
  }
</script>

<form>
  <div class="col-md-6 mt-5 mx-auto">

    <div>
      <label for="postTitle">Title: </label>
      <input type="text" class="form-control" id="postTitle" name="postTitle" required value={{PostTitle}}>

    </div>

    <div>
      <label for="postBody">Body: </label>
       <textarea class="form-control" type="text" id="postBody" name="postBody" rows="3" required value={{PostBody}}></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" onClick="updatePost({{PostId}})">Submit</button>
    </div>

  </div>
</form>

<form>


