<script type="application/javascript">
  var deletePost = function (id) {
    console.log(id);
    fetch("posts/" + id, { method: "delete" }).then(result => window.location = window.location);
  }
</script>




<form id="makePost" name="makePost" method="POST" action="/posts/">


  <div class="col-md-6 mt-5 mx-auto">
    <h3>New Notes</h3>

    <div>
      <label for="postTitle">Title</label>
      <input type="title" class="form-control" name="postTitle" placeholder="Enter Title">
    </div>

    <div>
      <label for="postBody">Body</label>
      <textarea class="form-control" name="postBody" rows="3" placeholder="Enter Body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">SUBMIT</button>
    </div>

  </div>


</form>







<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h3 class="text-center">Notes</h3>
    </div>
    <div class="all">

      <ul>


        <hr />
        <h3>Notes</h3>

        {{#each posts}}
        <h6>
          Title :{{ PostTitle }}<br> Body : {{ PostBody }}
          <button type="button" class="btn btn-danger " style="font-size: x-small"
            onClick="deletePost({{PostId}})">Delete</button>

          <a href="posts/{{PostId}}"><button type="button" class="btn btn-warning"
              style="font-size: x-small">Edit</button></a>


        </h6>
        <hr />
        {{/ each}}




      </ul>
    </div>

  </div>
</div>