<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h3 class="text-center">Wellcome</h3>
    </div>




    <h1>{{user.FirstName}} {{user.LastName}}</h1>



  </div>

</div>

<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h3 class="text-center">Notes</h3>
    </div>
    <div class="all">

      <ul>



        {{#each user.posts}}

        <h3>Title :</h3>
        <P>{{PostTitle}}</p>


        <h3>Body :</h3>
        <p>{{PostBody}}</p>
        <hr />

        {{/each}}






      </ul>
    </div>

  </div>
</div>